body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    font-family: monospace, serif, sans-serif; /*字体*/
    font-size: 18px; /*字体大小*/
    margin: 1px 5% auto 5%; /*页间距(上 右 下 左)*/
    line-height: 1.5; /*行高*/
}

h1 {
    text-align: center; /*居中*/
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

p {
    text-align: left;
    text-indent: 2em; /*缩进*/
    font-style: italic; /*斜体*/
    font-size: 16px;
    color: green;
}

.ps {
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    color: red;
}

textarea {
    display: table;
    margin-right: 0 auto;
    overflow: hidden;
    width: 550px;
    font-size: 14px;
    height: 200px;
    line-height: 1;
    padding: 2px;
    background-image: url(../img/code.jpg);
    color: white;
    white-space: pre-line;
    text-align: left;
    float: left;
    outline: block;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 1) 0 0 8px rgba(82, 168, 236, 0.6);
}

.copyButton {
    float: inherit;
    opacity: 30%;
}

sub {
    font-size: 10px;
}
